.characters-button-link {
  text-decoration: none;
  color: white;
}
.button-container {
  width: 100vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10em;
}
.characters-button{
  background-image: url("../../assets/comicbookspread.jpeg");
  background-size: 100%;
  font-size: 500%;
  border-radius: 30px;
  padding: 2em 1.5em 2em 1.5em;
  transition: 1.2s;
}

.characters-button:hover {
  padding: 2.1em 1.6em 2.1em 1.6em;
  transition: 1.2s;
}

.bg-vid {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.content-container {
  position: relative;
  z-index: 1;
}