.characters-button-link {
  text-decoration: none;
  color: white;
}
.button-container {
  width: 100vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10em;
}
.characters-button{
  background-image: url("../../assets/comicbookspread.jpeg");
  background-size: 100%;
  font-size: 500%;
  border-radius: 30px;
  padding: 2em 1.5em 2em 1.5em;
  transition: .7s;
}

.characters-button:hover {
  padding: 2.1em 1.6em 2.1em 1.6em;
  transition: .7s;
}

.bg-vid {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.content-container {
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 680px) {
  .characters-button{
    font-size: 300%;
  }
}

@media screen and (max-width: 435px) {
  .characters-button{
    font-size: 200%;
    padding: 5em 1.5em 5em 1.5em;
    background-size: 180%;
  }
  
  .logo {
    height: 7em;
  }
}

@media screen and (max-width: 285px) {
  .characters-button{
    font-size: 150%;
  }

  .logo {
    height: 5em;
  }
}