.character-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.select-btns {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.character-header {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.description-container {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.character-image {
  height: 40vw;
  border-radius: 1em;
  border: 4px solid;
}

.character-stats {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(226, 226, 226, .7);
  border-radius: 1em;
  padding: 1em;
  border: 4px solid;
}

.bg-img-info {
  opacity: 90%;
}

.white-text {
  color: white;
}

.character-name {
  font-size: 2.5em;
}

.select-character-button {
  font-size: 1.5em;
  border: 2px solid black;
  border-radius: 1em;
  background-color: white;
  padding: 0.7em;
  transition: .3s;
}

.select-character-button:hover {
  padding: .85em;
  transition: .3s;
}

.back-button {
  text-decoration: none;
  height: 40px;
  width: 40px;
  border-radius: .5em;
  font-size: 2em;
  transition: .3s;
  margin: 0;
}

.back-button:hover {
  font-size: 2.3em;
  transition: .3s;
}