.character-image-header {
  height: 15vw;
  width: 15vw;
}

.title-search {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: lightgrey;
  width: 20em;
}

.name, h3, p {
  margin: 0;
}

.character-card {
  margin: 5px
}

.characters-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 100vh;
  overflow: scroll;
}

.characters-header {
  display: flex;
  justify-content: space-around;
}

h1 {
  margin: .5em;
}