.title-search {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: rgba(62, 62, 62, 0.7);
  border-radius: 1em;
  width: 20em;
  color: white;
  padding-bottom: 1.3em;
}

.name, h3, p {
  margin: 0;
}

.character-card {
  margin: 5px
}

.characters-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 100vh;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: .5em;
  margin: 2em;
}

.characters-header {
  display: flex;
  justify-content: space-around;
}

h1 {
  margin: .5em;
}

.bg-img {
  object-fit: cover;
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 20%;
}

.player-header {
  background-color: #1E1E24;
  color: white;
  border-radius: 1em;
  padding: 1em;
}

.input{
  border-radius: 0.5em;
  border: none;
  padding: 0.4em;
  width: 16em;
  margin: .5em;
}

.search-input {
  padding-inline: 0px;
}

.unknown-selection {
  background-color: #1E1E24;
  color: white;
  border-radius: 1em;
  display: flex;
  align-items: center;
  padding: .4em;
}

.white{
  color:white;
  font-size: 2em;
}

@media screen and (max-width: 680px) {
  .player-header {
    height: 10em;
    width: 6.5em;
    margin: 1em;
  }

  .unknown-selection {
    height: 8em;
    width: 5.5em;
    margin: 1em;
    font-size: 155%;
  }

  .title-search {
    height: 16.5em;
    width: 17em;
  }

  .input {
    width: 13em;
    height: 3em;
  }

  .input-text {
    font-size: 80%;
  }
}

@media screen and (max-width: 435px) {
  .player-header {
    height: 8em;
    width: 4.5em;
    margin: .5em;
  }

  .unknown-selection {
    height: 6em;
    width: 3.5em;
    border-radius: .5em;
    margin: .5em;
    font-size: 145%;
  }

  .title-search {
    height: 16.5em;
    width: 12em;
  }

  .input {
    width: 11em;
    height: 2.7em;
  }

  .characters-list {
    margin-top: .5em; 
  }
}