.battle-images {
  display: flex;
  justify-content: center;
}

.battle-image {
  height: 25vw;
  width: 25vw;
}

.bang {
  margin: 0;
  font-size: 100px;
}

.fighter1-name {
  margin: 0;
}

.fighter2-name {
  margin: 0;
}
.fight-button {
  font-size: 2em;
  background: #f91900;
  color: white;
  border-radius: 0.5em;
  border: none;
  padding: 0.18em;
  transition: .3s;
}

.fight-button:hover {
  padding: .18em .4em .18em .4em;
  transition: .3s;
}